<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Atividade: <span th:text="${activity.name}"> </span>
		</h1>
		<p>
			Inicio: <span
				th:text="${#dates.format(activity.start, 'dd/MM/yyyy hh:mm')}"></span>
		</p>
		<p>
			Aluno: <span th:text="${activity.student.user.name}"></span>
		</p>
		<p>
			Carga horária: <span
				th:text="${activity.workload}"></span>
		</p>
		<p>
			Certificado: <span
				th:text="${activity.certificate}"></span>
		</p>
	</div>
</body>
</html>